.navbar-brand {
    margin-left: 20px;
}

main {
    padding: 25px 40px 10px 40px;
}

main.all-articles {
    padding: 25px 40px 10px 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#carouselExampleIndicators {
    border-width: 10px;
    border-color: black;
}

#h6-home {
    margin-top: 15px;
    margin-left: 0px;
}

#articles-home.row {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.my-footer {
    height: 60px;
    position: fixed;
    bottom: 0px;
    background: #eee;
    border: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    width: 100%;
}

.my-footer p {
    margin: 0;
}

a.articles-home {
    color: rgb(24, 119, 90);
    text-decoration: none;
}

a.articles-home:hover {
    color: rgb(72, 134, 206);
    text-decoration: underline;
}

img.card-img {
    padding: 10px;
    margin: 15px 10px 10px 10px;
}

img.article-page-img {
    /* padding: 0px; */
    margin-top: 17px;
}

img.article-img-main {
    margin-top: 5px;
    border: 0.5px solid grey;
    width: 100%;
}

img.article-img-grid {
    border: 1px solid gray;
    margin-top: 10px;
    width: 100%;
}

.carousel-item img {
    padding: 0;
}

#article1-to-3-title {
    padding-bottom: 15px;
    margin-left: 0px;
}

#article1-text {
    padding: 0px;
}
