.navbar-brand {
    margin-left: 15px;
}

main {
    padding: 25px 40px 10px 40px;
}

#carouselExampleIndicators {
    border-width: 10px;
    border-color: black;
}

#h6 {
    margin-left: 15px;
}

#articles-home.row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 13px;
}

.my-footer {
    float: left;
    margin: 10px 20px 10px;
    height: 60px;
}

a.articles-home {
    color: rgb(24, 119, 90);
    text-decoration: none;
}

a.articles-home:hover {
    color: rgb(72, 134, 206);
    text-decoration: underline;
}

img {
    padding: 15px;
}

.main-article-img {
    padding: 10px;
}

.article-row-p {
    padding: 20px;
}
