.navbar-brand {
    margin-left: 20px;
}

main {
    padding: 25px 40px 10px 40px;
}

#carouselExampleIndicators {
    border-width: 10px;
    border-color: black;
}

#h6 {
    margin-top: 10px;
    margin-left: 0px;
}

#articles-home.row {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.my-footer {
    float: left;
    margin: 10px 20px 10px;
    height: 60px;
}

a.articles-home {
    color: rgb(24, 119, 90);
    text-decoration: none;
}

a.articles-home:hover {
    color: rgb(72, 134, 206);
    text-decoration: underline;
}

img.card-img {
    padding: 10px;
    margin: 15px 10px 10px 10px;
}

img.article-page-img {
    padding: 5px;
    margin-top: 17px;
}

main.article-page {
    margin-bottom: 200px;
}

.carousel-item img {
    padding: 0;
}
